
.navbar{
    /* transition: ; */
    font-family: 'Poppins';
}

.navbar ul a{
    position: relative;
    cursor: pointer;
    padding: 0;
    /* background-color: red; */
}

.navbar ul a::before{
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 100px;
    background-color: #DF4838;
    transform: scaleX(0); /* Initially hide the underline */
    transition: transform 0.5s ease; /* Add a smooth transition effect */
}
.navbar ul a.active::before{
    transform: scaleX(1);
}   
.navbar ul a:hover::before{
    /* width: 100%; */
    transform: scaleX(1);
}

.ytp-youtube-button{
    display: none !important;
}

#mobnav.active{
    left: 0 !important;
}